# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Ignore my lazy act of placing the binary in the root directory.
packwiz-installer-bootstrap.jar
packwiz.exe